torch
torchvision
tensorflow
pyzmq
numpy
PyYAML
termcolor
opencv-python==4.8.1.78
matplotlib
scikit-learn
scikit-image
gym
pyglet
duckietown-world-daffy
pipdeptree
typing-extensions
carnivalmirror
zuper-commons-z6
